# ignore all JSON files when pushing to github
state/environment.json

#ignore all files ending in .jpg
static/last_env_image.jpg

#ignore test files .pyc
__pycache__/*.pyc

#ignore all chart images
static/*.png

# ignore generated data
processing_data/*.csv