<!doctype html>

<html>

<head>
    <title>Environment Data</title>
    <link href="https://mattduck.github.io/generic-css/css/generic-light.min.css" rel="stylesheet" type="text/css"/>
    <!-- refresh every 5 sec -->
    <meta http-equiv="refresh" content="5"> 
</head>

<body>
    <h1>Environment Data Summary</h1>

    <h2>Most Recent Environment Data</h2>
    <p>Most Recent Tempearture Reading:</p>
    <p><strong>Temperature:</strong> {{ env['temperature_c'] }} ° C</p>
    <p><strong>Humidity:</strong> {{ env['humidity_%'] }} %</p>
    <p><strong>Dew Point:</strong> {{ env['dew_point_c'] }} ° C</p>


    <h2>Temperature History</h2> 

<img
    src="{{ url_for('static', filename=plot_data) }}" style="max-width: 100%; height: auto;">

>

    <h2>Environment Image</h2>
        {% if env and env.image %}
        <p> Last Urgent Image Update: <strong>{{ env.time_str }}</strong><br>({{ env.age }} seconds ago)</p>

        <!-- //latest image from cloudinary -->
        <img src="{{ env.image }}"
            style="max-width: 100%; height: auto;">

        {% else %}
        <p>No Urgent Images Recorded Yet.</p>
        {% endif %}
        
   
    </body>

</html>
