<!doctype html>

<html>

<head>
    <title>Device1 Environment Data</title>
    <link href="https://mattduck.github.io/generic-css/css/generic-light.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Device1 Environment Data Summary</h1>

    <h2>Temperature</h2>
    <p>Most Recent Tempearture Reading:</p>
    <p><strong>Celcius:</strong> {{ celcius }}</p>
    <p><strong>Fahrenheit:</strong> {{ fahrenheit }}</p> 

    <h2>Temperature History</h2>

<img
    src="{{ url_for('static', filename='temperature.png') }}"
    alt="Temperature over time"
    style="max-width: 100%; height: auto;"
>
            <!-- <tr>
                <td>/api/leds</td>
                <td>Current light state(i.e. on/off)</td>
                <td>Change light state<br>
                    e.g. curl -X PUT http://hdiprpi:8000/api/leds -H "Content-Type: application/json" -d '{"state":"on"}'</td>
            </tr> -->
        </tbody>
    </table>
</body>

</html>
